body {
  margin: 10px;
  padding: 0px;
  background-color: white;
}

h1 {
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

input {
  background-color: transparent;
}
.DarkGray {
  background-color: rgb(70, 67, 67);
}

p {
  text-align: center;
}
th {
  background-color: rgb(167, 165, 165);
}

table.calcFormat {
  padding: 0px;
  border-collapse: collapse;
  margin: 0 auto;
}

input {
  max-width: 40px;
}

td img {
  width: 50px;
  height: auto;
  text-align: center;
  margin: auto;
}

table.diceBox {
  border: none;
  margin: auto;
  text-align: center;
  padding: 10px 50px 0px 50px;
}
td.diceboxinner {
  border: none;
}

#chattrum {
  border: 1px solid black;
}

ul {
  border: 1px solid gray;
  padding: 10px;
  list-style: none;
}

li {
  border: 1px solid gray;
  background-color: whit;
  padding: 5px;
}

.removed {
  text-decoration: line-through;
}
