body {
  margin: 0px 15%;
  padding: 0px;
  background-color: white;
}

h1 {
  margin: 0 auto;
  padding: 2cm;
  text-align: center;
}

.DarkGray {
  background-color: rgb(70, 67, 67);
}

td:nth-child(even) {
  background-color: grey;
}

th {
  background-color: rgb(167, 165, 165);
}

table.calcFormat {
  padding: 0px;
  border-collapse: collapse;
  margin: 0 auto;
}

input {
  max-width: 50px;
  background-color: transparent;
}

td img {
  width: 50px;
  height: auto;
  text-align: center;
  margin: auto;
}

table.diceBox {
  border: none;
}
td.diceboxinner {
  border: none;
}
